.all-products {
  margin: 70px 0px;
}

.all-products .box {
  border: 1px solid #e4e4e4;
  transition: 0.5s;
  padding-top: 20px;
  position: relative;
  margin-bottom: 70px;
}

.all-products .box:hover {
  border: 1px solid #d10024;
  transition: 0.5s;
}

.all-products .actions {
  margin: 20px 0px;
}

.all-products .actions ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.all-products .add {
  text-align: center;
  background-color: #1e1f29;
  padding: 9px 0px;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.all-products .add button {
  background-color: #d10024;
  color: #fff;
  border: none;
  padding: 6px 11px;
  border-radius: 21px;
  font-size: 17px;
  text-transform: uppercase;
}

.all-products .box:hover .add {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
