.carousel-item img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 5px;
  width: 80%;
}

.carousel-caption h3 {
  color: black;
  font-size: 28px;
}

.carousel-caption p {
  color: #292929;
  font-size: 18px;
}