.update-product h2 span {
  color: #D10024;
}

.update-product-form {
  padding: 20px;
  background-color: #161616;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.update-product-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.update-product-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.update-product-form input,
.update-product-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.update-product-form input:focus,
.update-product-form select:focus {
  border-color: #66afe9;
  box-shadow: 0px 0px 5px rgba(102, 175, 233, 0.5);
  outline: none;
}

.update-product-form button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.update-product-form button:hover {
  background-color: #4cae4c;
  transform: scale(1.05);
}

.update-product-form button:active {
  background-color: #45a049;
}

.update-productpdate-user-form p {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}