.checkout {
  border: 1px solid #D10024;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 5px 5px 1px #D10024;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.checkout p {
  border-bottom: 1px solid black;
}