.contact-bar {
  background-color: #1E1F29;
  color: #fff;
}

.contact-bar ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  margin: 3px 0px;
  font-size: 13px;
}

@media (max-width: 767px) {
  .contact-bar ul {
    justify-content: flex-start;
    flex-direction: column;
    margin: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-bar ul {
    justify-content: flex-start;
  }
}

.contact-bar ul li {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

.contact-bar .left ul li {
  margin-right: 10px;
}

.contact-bar .right ul {
  justify-content: space-evenly;
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-bar .right ul {
    justify-content: flex-start;
  }
  
}

@media (max-width: 767px) {
  .contact-bar ul li {
    margin-right: 10px;
    padding: 5px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-bar ul li {
    margin-right: 10px;
  }
}

.contact-bar ul li:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color:#D10024;
}

.contact-bar ul li i {
  color: #D10024;
}